{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}

{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">NAS Mount</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Tenant</th>
              <td>
                {% if object.tenant.group %}
                    {{ object.tenant.group|linkify }} /
                {% endif %}
                {{ object.tenant|linkify|placeholder }}
              </td>
            </tr>
            <tr>
              <th scope="row">Share</th>
              <td>{{ object.nas_share | linkify }}</td>
            </tr>
            <tr>
              <th scope="row">Local Directory</th>
              <td>{{ object.local_directory }}</td>
            </tr>
            <tr>
              <th scope="row">Mount Options</th>
              <td>{{ object.mount_options }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description }}</td>
            </tr>
          </table>
        </div>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-header">Devices</h5>
      <div class="card-body table-responsive">
        {% render_table devices_table %}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-header">Virtual Machines</h5>
      <div class="card-body table-responsive">
        {% render_table virtual_machines_table %}
      </div>
    </div>
  </div>
{% endblock content %}
